@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --font-size: 12px;
    // Text
    --textVerydarkdesaturatedblue: hsl(238, 29%, 16%);
    --textSoftred: hsl(14, 88%, 65%);
    --textVerydarkgrayishblue: hsl(237, 12%, 33%);
    --textDarkgrayishblue: hsl(240, 6%, 50%);
    //Gradient
    --GradientSoftviolet: hsl(273, 75%, 66%);
    --GradientSoftblue: hsl(240, 73%, 65%);
    // Dividers
    --Lightgrayishblue: hsl(240, 5%, 91%);
}


.textVerydarkdesaturatedblue {
    color: var(--textVerydarkdesaturatedblue);
}

main {
    background: linear-gradient(to top, var(--GradientSoftblue), var(--GradientSoftviolet));
}


// mobile design

.mobile-bg {
    background-image: url('./images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;

}

.bg-pattern {
    background: url('./images/bg-pattern-desktop.svg');
    background-position: center center;
    transform: translateX(calc(-50% - 74px));
    background-size: cover;

}

.left__inner {
    transform: translateX(calc(-50% - 74px));

}

.shadow-custom {
    box-shadow: hsla(240, 73%, 65%, 0.685) 0px 7px 29px 0px;
}

.accordion {
    .accordion-item {
        border-bottom: 1px solid var(--Lightgrayishblue);
        padding-top: 12px;
        padding-bottom: 12px;

        .accordion-button {
            color: var(--textVerydarkdesaturatedblue);
            opacity: 0.8;
            font-weight: 400;
            font-size: 14px;
            user-select: none;
            cursor: pointer;

            img {
                transition: all 300ms;
            }
        }

        .accordion-body {
            transition: all 500ms;
            overflow: hidden;
            max-height: 0px;

            .accordion-content {
                color: var(--textDarkgrayishblue);
                font-size: 13px;
                padding-top: 8px;
                padding-bottom: 4px;
            }
        }

        &.active {
            .accordion-button {
                font-weight: 700;
                opacity: 1;

                img {
                    transform: rotate(180deg);
                }
            }

            .accordion-body {
                max-height: 300px !important;
            }
        }
    }
}

.box-left {
    // background-position: top left;
}